<table class="highlight centered">
    <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
            <th data-field="action">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>
                <a class="waves-effect waves-light btn blue lighten-1">Modify <i class="large material-icons ">settings</i></a>
                <a class="waves-effect waves-light btn red accent-1">Delete <i class="large material-icons">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>